<form action="/posts/new" method="post">
  <p>
    <label for="title">Title</label>
    <input type="text" name="title" id = "title">
  </p>
  <p>
    <label for="user_name">Username</label>
    <input type="text" name="user_name" id = "user_name">
  </p>
  <p>
    <p>
      <label for="user_text">Write your post here:</label>
    </p>
    <textarea name="user_text" id="user_text" cols="30" rows="10"></textarea>
  </p>
  <p>
    <label for="post_date">Date posted</label>
    <input type="date" name="post_date" id = "post_date">
  </p>
  <button type="submit">Add</button>
</form>


<p><a href="/blogs">&larr; Back</a></p>